nav {
	z-index: 1;
}
/* body {
	
} */
.contact-me-button button:hover {
	color: #dbdddf !important;
}
.profile-container {
	background-color: #dbdddf;
	height: 110vh;
}
.info-container {
	height: 500px;
}

.media-social {
	width: 50%;
	height: 50px;
}

.media-social li {
	list-style: none;
}

.info-left {
	width: 45%;
}
.image-card {
	height: 350px;
	width: 300px;
	background-color: #dbdddf;
}
.image-card img {
	background-color: gray;
}

/*  */

.project-card {
	width: 30%;
	height: 600px;
}

.button-fill {
	font-weight: bolder;
	background-color: #f06e79;
	color: white;
}
.button-fill:hover {
	/* color: #383535 !important; */
	background-color: #e78a91 !important;
}

.button-line {
	color: #292929;
	font-weight: bolder;
	background: none;
	border: 2px solid #f06e79;
}
.button-line:hover {
	color: #dbdddf !important;
	background-color: #f06e79 !important;
}

.nav-link {
	color: #f06e79 !important;
	font-weight: bolder;
}
.nav-link:hover {
	color: #75070e !important;
}
.nav-justify {
	justify-content: space-around !important;
}
