.main-container {
	min-height: 120vh !important;
}

.project-header {
	height: 350px;
	width: 100%;
}

/* .project-info {
	width: 100%;
}
.project-info li {
	background-color: red;
	height: 30px !important;
	width: auto;
} */
