<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/static/style/contact.css" />
		<link rel="stylesheet" href="/static/style/index.css" />

		<!-- favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/static/assets/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/static/assets/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/static/assets/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<title>Contact Me!</title>
	</head>
	<body>
		<header>
			<nav
				class="navbar navbar-expand-lg p-0 bg-light position-fixed w-100 shadow"
			>
				<div class="container-xl">
					<a class="navbar-brand" href="/">
						<img
							src="/static/assets/image/logo.png"
							alt="logo"
							height="40px"
							width="40px"
						/>
					</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/form-add-project">Add Project</a>
							</li>
						</ul>
						<form class="d-flex" action="/contact-me">
							<button class="btn button-fill">Contact</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
		<section
			class="container d-flex flex-column justify-content-center align-items-center"
		>
			<h1>GET IN TOUCH</h1>
			<p id="error-message"></p>
			<form class="w-50">
				<div class="form-floating mb-3">
					<input
						type="text"
						class="form-control form-control-sm w-100 shadow"
						id="floatingInput"
						placeholder="name@example.com"
					/>
					<label for="floatingInput">Name</label>
				</div>
				<div class="form-floating mb-3">
					<input
						type="email"
						class="form-control shadow"
						id="floatingInput"
						placeholder="name@example.com"
					/>
					<label for="floatingInput">Email address</label>
				</div>
				<div class="form-floating mb-3">
					<input
						type="number"
						class="form-control shadow"
						id="floatingInput"
						placeholder="name@example.com"
					/>
					<label for="floatingInput">Phone Number</label>
				</div>
				<select
					class="form-select mb-3"
					aria-label="Default select example shadow"
				>
					<option selected>Open this select menu</option>
					<option value="frontend">Frontend</option>
					<option value="backend">Backend</option>
					<option value="fullstack">Full Stack</option>
				</select>
				<div class="form-floating mb-3">
					<textarea
						class="form-control shadow"
						placeholder="Leave a comment here"
						id="floatingTextarea"
					></textarea>
					<label for="floatingTextarea">Your Message</label>
				</div>
			</form>
		</section>
	</body>
	<script src="/js/contact.js"></script>
</html>
